body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #e7d9bf;
}
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-radius: 50px;
}
#black{
    background-color: rgba(0, 0, 0, 0.589);
}
.main-content {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 20px;
}
.day-links {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}
.day-link {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.day-link:hover {
    background: #555;
}

.video-banner {
    position: relative;
    width: 100%;
    height: 300px; /* garde ta hauteur fixe */
    margin-top: 95px; /* pour laisser la place à la navbar */
    overflow: hidden; /* cache ce qui dépasse */
    z-index: 10; /* au-dessus du fond, sous la navbar */
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    position: relative;
    z-index: 10; /* la vidéo reste devant le fond */
}

header, .main-content, .day-links {
    position: relative;
    z-index: 1; /* sous la vidéo */
}




/* --- NAVBAR --- */
nav {
    position: fixed;  
    top: 0;           
    left: 0;          
    width: 100%;      
    margin: 0;
    background: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(10px);
    padding: 20px 50px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    z-index: 1000; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    box-sizing: border-box;

}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-center {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}

.nav-links {
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #cba4ff;
}

/* --- FOOTER --- */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;

    text-align: center;
    background: rgba(0, 0, 0, 0.863);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 50px;
    color: #ffffff;
}

@media (max-width: 768px) {
    .day-content {
        flex-direction: column;
    }

    .day-card {
        width: 100%;
    }

    header h1 {
        font-size: 2.2em;
    }
}